body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.row {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #db882a;
  justify-content: center;
}

header img {
  height: 80%;
  margin-left: 16px;
}

header p {
  font-family: monospace;
  color: whitesmoke;
  font-size: 48px;
  margin-left: 32px;
  margin-right: 16px;
  text-align: center;
  font-weight: bold;
}

.meme {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.meme img {
  width: 100%;
  max-height: 800px;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 48px;
  text-shadow: black 5px 5px 30px;
}


.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
}

.meme-form > button {
  border: none;
  font-family: monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #db882a;
}